img {
    height: 157px;
}

.img-wrapper {
    height: 157px;
    width: 113px;
    border-radius: 8px;
}

.card-back {
    background: url('/assets/card-back.png') no-repeat center center;
    background-size: contain;
}