.card-wrapper {
    overflow: hidden;
    width: 75px;
    transition: 300ms;
}

.card-wrapper:hover {
    width: 111px;
    overflow: visible;
    transition: 300ms;
}

.card-wrapper:last-child {
    overflow: visible;
}

#hand {
    min-height: 215px;
    position: relative;
}

#game-popup {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 3em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 0 0 80px #d40000, 0px 0px 10px black, 0px 1px 2px black, 0px -1px 3px black, 0 0 80px #d40000;

    animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: .6s;	
	-webkit-animation-duration: .6s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	65%{
		transform: translateY(12%);
	}
	80%{
		transform: translateY(-4%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	65%{
		-webkit-transform: translateY(12%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}