<h3 id="title" class="py-3 text-light">Blackjack</h3>
<div *ngIf="!gameReady" id="begin-game" class="d-flex justify-content-center align-items-center">
  <button (click)='getNewDeck()' type="button" class="btn btn-light btn-lg mb-5 p-3">Start Game</button>
</div>

<div id="confetti-origin" #confettiOrigin></div>
<div *ngIf="gameReady" class="container text-center">
  <div class="row">
    <button (click)='restart()' type="button" class="btn btn-light mr-4 ">
      <span *ngIf="displayWinner">Play again!</span>
      <span *ngIf="!displayWinner">Restart</span>
    </button>
    <h4 *ngIf="displayWinner" class="text-white">
      {{ winner }} has won the game!
    </h4>
  </div>
  <hr>
  <app-hand #dealerHand name='Dealer' (endGame)='endGame($event)'></app-hand>
  <app-hand #playerHand name='Player' (playerFinished)="dealerDraws($event)" (endGame)='endGame($event)' (restart)="restart()"></app-hand>
</div>
